.review-focus-container {
    display: flex;
    flex-flow: row;
    border: 1px black solid;
    background-color: white;
    padding: 0px;
    margin: auto;
    gap: 0px;
    width: 100%;
    height: 100%;
    flex: 0 0.5 auto;
}

.content-header-section {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: center;
  background-color: rgb(230, 181, 245);
  padding: 10% 0px;
  display: inline-block;
  margin: 0px auto;
  height: auto;
  width: 50%;
  box-shadow: 0.5px 0.5px 10px 1px black;
}

.review-content-comment-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 0px;
  padding: 30px;
  gap: 30px;
  box-sizing: border-box;
}

#review-body {
  padding: 0px;
  text-align: center;
  font-style: italic;
  border: 3px dotted grey;
  margin: 0px;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
}

.review-content-stats-header {
  padding: 0px;
  margin: auto auto 15px;
}

.review-content-stats {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  padding: 25px;
  margin: 0px;
  justify-content: center;
}

#review-vote-buttons {
  padding: 0px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.review-comment-section {
  display: flex;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
  display: block;
  overflow-y: scroll;
  max-height: 200px;
  text-align: center;
  margin: 0px auto;
  width: 100%;
}

#review-comment-box {
  margin: 0px auto 10px;
  width: 80%;
  padding: 5px;
}

#comment-submit-button {
  display: block;
  padding: 5px;
  margin: auto;
}

#review-img {
  border: 5px white solid;
  border-radius: 5%;
  width: 50%;
}

.loading-text {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #45318b 0%,
        #6c23b9 25%,
        #f73576 67%,
        #45318b 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 5s linear infinite;
    display: inline-block;
    font-size: 170px;
    margin: 80px auto;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}